<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.2.min.js"></script>
<script type="text/javascript">
$(function(){
	$(".del").click(function(e){
		if(!confirm("정말로 삭제하시겠습니까?")){
			e.preventDefault();
		}
	})
})
</script>
</head>
<body>
	<h2>고객 목록</h2>
	<hr>
	<a href="/customer/insert">등록</a>
	<table>
		<tr>
			<td>고객번호</td>
			<td>이름</td>
			<td>주소</td>
			<td>전화번호</td>
			<td></td>
		</tr>
		<tr th:each="c:${list_c}">
			<td th:text="${c.custid}"></td>
			<td th:text="${c.name}"></td>
			<td th:text="${c.address}"></td>
			<td th:text="${c.phone}"></td>
			<td>
				<a th:href="@{'/customer/update/'+${c.custid}}" th:text="수정"></a>
				<a th:href="@{'/customer/delete/'+${c.custid}}" th:text="삭제" class="del"></a>
			</td>
		</tr>
	</table>
</body>
</html>